@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (NightClubId == string.Empty)
{
    <p><em>Loading...</em></p>
}
else
{
    @NightClubId
}

@code {
    public string NightClubId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            NightClubId = await Http.GetStringAsync("https://localhost:5002/NightClubs/strinasdg");

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
