@page "/NightClubs/Create"
@inject AuthorizationApiClient Client
@inject NavigationManager Navigation

<h3>NightClubCreate</h3>
<EditForm Model="@nightClub" OnValidSubmit="HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="nightClub.Name" class="input-group" />

    <InputText id="coverUrl" @bind-Value="nightClub.CoverUrl" class="input-group" />

    <InputText id="description" @bind-Value="nightClub.Description" class="input-group" />

    <InputText id="businessHours" @bind-Value="nightClub.BusinessHours" class="input-group" />

    <InputText id="location" @bind-Value="nightClub.Location" class="input-group" />

    <InputText id="telephone" @bind-Value="nightClub.TelephoneForReservations" class="input-group" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private NightClubCreateInputModel nightClub = new NightClubCreateInputModel();

    private async Task HandleValidSubmitAsync()
    {
        var result = await this.Client.CreateNightClubAsync(nightClub);

        this.Navigation.NavigateTo($"/NightClubs/{result}");
    }
}